# Git & Virtual Environment
.git
.gitignore
.venv
venv
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Load Testing Temp Files & Outputs
load_test/locust_temp*
*.csv

# Documentation & IDE
.vscode/
.idea/
.gemini/
*.md
